<!DOCTYPE html >
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Time</title>
    <script type="text/javascript" src="main.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="jquery-1.11.3.min.js"></script>
    <script src="angular.js"></script>
    <script src="timer.js"></script>
    <script src="fetchController.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <link rel='stylesheet'
          href="bower_components/angular-input-dropdown/inputDropdownStyles.css"/>
    <script src="bower_components/angular-input-dropdown/inputDropdown.js"></script>
</head>

<body style="background-color: #fff" ng-app="httpExample" ng-controller="FetchController">
<pre>Model: {{selected}}</pre>
<div class="container" style="margin: 0; width:100%">
    <nav class="row navbar-custom">
        <div class="col-xs-8" style="font-size: 28px">
            <span id="chronotime">{{ currentTimer.time | date:'HH:mm:ss':'UTC' }}</span>
        </div>
        <div class="col-xs-4" style="position: relative;">
            <div id="shittyid" style="position: absolute">
                <input ng-model="selected"
                       style="width: auto; height: 40px; border-radius: 0px; paddin-right: 40px; position: absolute"
                       type="text"
                       placeholder="Search or create task"
                       uib-typeahead="task as task.title for task in data | filter:{title:$viewValue}"
                       class="form-control pull-right" typeahead-show-hint="true" typeahead-min-length="0"
                       id="searchtypehead">
                <button ng-click="typeheadstart(selected, $index, TaskRepeat);"
                        id="typeheadbtn" class="btn button-default"
                        style="width: 40px; height: 40px; border-radius: 0px; position: absolute; right: 0">
                    <span id="spanid" class="glyphicon glyphicon-play"></span>
                </button>
            </div>
        </div>
    </nav>
    <div>
    </div>
</div>
<div class="container">
    <form id="postForm" role="form" data-toggle="validator" class="" name="chronoForm">
        <div style="height: 25px;" class="form-group">
            <label for="projectVardas"></label>
            <input style="border-radius: 0px;" type="text" class="form-control" ng-change="updateProject()"
                   ng-model="currentProject"
                   id="projectVardas"
                   placeholder="Project">
        </div>
        <div class="for-group">
            <label for="startstop"></label>
            <input style="width: 100%; margin-bottom: 8px; border-radius: 0px" class="btn btn-default" id="startstop"
                   type="button"
                   name="startstop" value="Create Project"
                   ng-click="postProjectTask();fetchViskas(); currentProject = null " disabled="disabled">
        </div>
    </form>
</div>

<div class="container" ng-repeat="element in Projecstdata track by $index">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" style="border-radius: 0px">
            <div class="dropdown">
                <a class="pull-right">
                    <button id="dropdownMenu1" data-toggle="dropdown" type="button" aria-haspopup="true"
                            class="btn button-default" style="border-radius: 0px;min-height: 38px">
                        <span class="glyphicon glyphicon-cog" style=""></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <input
                                    style="height: 33px; padding-left: 2px; margin-left: 3px" placeholder="Rename"
                                    id="rename{{$index}}">
                            <button
                                    class="btn button-default" style="border-radius: 0px"
                                    ng-click="renameProject(element, $index)"> OK
                            </button>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li style="margin-left: 4px; margin-right: 4px">
                            <button
                                    class="btn button-default"
                                    style="border-radius: 0px; width: 100%; margin-left: 0px; padding-left: 0px"
                                    ng-click="deleteProject(element)"> Delete
                            </button>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="panel-heading" role="tab" id="headingOne">
                <button type="button" class="btn btn-default dropdown-menu" aria-label="Left Align Dropdownmenu3">
                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </button>
                <h4 style="text-align: center" class="panel-title">
                    <!-------------------------------------header----------------------------->
                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#{{ element.id }}" aria-expanded="false" aria-controls="{{element.id}}">
                        {{ element.name }}
                    </a>
                </h4>
            </div>
            <div id="{{ element.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                    <!--<div ng-repeat=" TaskRepeat in element.task track by $index">-->
                    <!-----------------------------  body  --------------------------------------->
                    <table class="table" class="tasks">
                        <thread>
                            <tr>
                                <th> Pavadinimas</th>
                                <th> Darbo trukme</th>
                                <th> Start</th>
                                <th> Settings</th>
                            </tr>
                        </thread>
                        <tbody ng-repeat="TaskRepeat in element.task track by $index">
                        <tr id="table-{{$index}}">
                            <td scope="row"> {{ TaskRepeat.title }}</td>
                            <td> {{calcTotal(TaskRepeat)}}  {{ TaskRepeat.taskTotal*1000 | date:'HH:mm:ss':'UTC' }}</td>
                            <td>
                                <startstop id="startstopbtn" selectedid="selected"
                                           task="TaskRepeat" timer="currentTimer" source="objektas" smth="selected"
                                           ng-click="getTaskTotal(TaskRepeat, selected, element, $index)">
                                </startstop>
                            </td>

                            <td>
                                <div class="dropup">
                                    <button style="border-radius: 0px" class="btn btn-default dropdown-toggle"
                                            type="button" id="dropdownMenu2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropup
                                        <span class="caret"></span>
                                    </button>
                                    <ul style="max-width: 200px" class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="dropdownMenu2">
                                        <li>
                                            <div class="container">
                                                <input type="text" name="wat" id="wat" placeholder="Update name"
                                                       ng-model="TaskRepeat.title" ng-blur="updateTaskName(TaskRepeat)">
                                            </div>
                                        </li>
                                        <li>
                                            <button class="btn button-default"
                                                    style="border-radius: 0px; width: 88%; margin-left: 15px; padding-left: 0px"
                                                    ng-click="delete(TaskRepeat, $index, element)">Delete
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <form class="form-inline">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-8">
                                    <label for="task-{{$index}}"> </label>
                                    <input style="min-height: 34px; min-width: 88px" id="task-{{$index}}"
                                           class="form-control;" type="text"
                                           placeholder="Task name">
                                    <button ng-click="pateiktiTask(element, $index)"
                                            class="form-group btn button-default;"
                                            style="border-radius: 0px; min-height: 34px"
                                            type="submit">
                                        Pateikti
                                    </button>
                                    <div class="form-group" style="padding-top: 1em;"
                                         ng-repeat=" TaskRepeat in element.task | limitTo : quantity">
                                        Bendra projekto trukme: <b>{{ selected.totalTime*1000 | date:'HH:mm:ss':'UTC'
                                        }}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <button style="width: 100%; border-radius: 0px" class="btn btn-primary" type="button"
            data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Task be project
    </button>
    <div class="collapse" id="collapseExample">
        <div class="well">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <table class="table">
                            <thead>
                            <tr>
                                <th> Name</th>
                                <th> Time</th>
                                <th> Start</th>
                                <th> Rename</th>
                                <th> Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="soloTable{{index}}" ng-repeat="taskFetch in data track by $index"
                                ng-if="taskFetch.project_id == 0">
                                <td> {{taskFetch.title}}</td>
                                <td> {{ taskFetch.taskTotal*1000 | date:'HH:mm:ss':'UTC' }}</td>
                                <td>
                                    <button id="solobtn{{$index}}" class="btn button-default" style="border-radius: 0px"
                                            ng-click="timeentryssSoloTask(taskFetch, $index)">
                                        Start
                                    </button>
                                </td>
                                <td>
                                    <input style="min-height: 33px; width: 145px;" id="soloTask{{$index}}" type="text">
                                    <button class="btn button-default" style="border-radius:0px;"
                                            ng-click="updateSoloTaskName(taskFetch, $index)"> Rename
                                    </button>
                                </td>
                                <td>
                                    <button class="btn button-default" style="border-radius: 0px"
                                            ng-click="deleteSoloTask(taskFetch, $index)"> Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <form class="form-inline">
                            <label for="task-{{$index}}"> </label>
                            <input style="min-height: 34px; min-width: 88px" id="newSoloTask" class="form-control;"
                                   type="text"
                                   placeholder="Pavadinimas">
                            <button ng-click="pateiktiSoloTask()"
                                    class="form-group btn button-default;"
                                    style="border-radius: 0px; min-height: 34px"
                                    type="submit">
                                Pateikti
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
